<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
  <%- include('../common/header') %>
  <style>
    .chat-divider {
      text-align: center;
      margin-top: 40px;
      color: black;
      font-weight: 400;
    }

    .btn {
      padding: 9px 14px !important;
    }
  </style>
</head>

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="content-left-sidebar">

  <!-- BEGIN: Header-->
  <%- include('../common/navbar') %>
  <!-- END: Header-->


  <!-- BEGIN: Main Menu-->
  <%- include('../common/sidebar') %>
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content chat-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-area-wrapper container-xxl p-0">
      <div class="sidebar-left">
        <div class="sidebar">

          <!-- Chat Sidebar area -->
          <div class="sidebar-content">
            <span class="sidebar-close-icon">
              <i data-feather="x"></i>
            </span>
            <!-- Sidebar header start -->
            <div class="chat-fixed-search">
              <div class="d-flex align-items-center w-100">
                <div class="sidebar-profile-toggle">
                  <div class="avatar avatar-border">
                    <img onerror="this.src='../../../app-assets/images/portrait/small/avatar-s-11.jpg'" src="/uploads/<%= global.adminData.image %>" alt="user_avatar" height="42" width="42" />
                    <span class="avatar-status-online"></span>
                  </div>
                </div>
                <div class="input-group input-group-merge ms-1 w-100">
                  <span class="input-group-text round"><i data-feather="search" class="text-muted"></i></span>
                  <input type="text" class="form-control round" id="chat-search" placeholder="Search or start a new chat" aria-label="Search..." aria-describedby="chat-search" />
                </div>
              </div>
            </div>
            <!-- Sidebar header end -->

            <!-- Sidebar Users start -->
            <div id="users-list" class="chat-user-list-wrapper list-group">
              <input type="hidden" name="adminId" id="adminId" value="<%= adminId %>">
              <input type="hidden" name="adminImg" id="adminImg" value="<%= adminImg %>">
              <input type="hidden" id="demo"  >

              <h4 class="chat-list-title">Chats</h4>
              <ul class="chat-users-list contact-list media-list" id="userChatList">
                <li></li>
              </ul>
       
            </div>
            <!-- Sidebar Users end -->
          </div>
          <!--/ Chat Sidebar area -->

        </div>
      </div>
      <div class="content-right">
        <div class="content-wrapper container-xxl p-0">
          <div class="content-header row">
          </div>
          <div class="content-body">
            <div class="body-content-overlay"></div>
            <!-- Main chat area -->
            <section class="chat-app-window" id="chat_body">
              <!-- To load Conversation -->
              <div class="start-chat-area">
                <div class="mb-1 start-chat-icon">
                  <i data-feather="message-square"></i>
                </div>
                <h4 class="sidebar-toggle start-chat-text">Start Conversation</h4>
              </div>
              <!--/ To load Conversation -->

              <!-- Active Chat -->
              <div class="active-chat chat_section">



              </div>
              <!--/ Active Chat -->
            </section>
            <!--/ Main chat area -->
            <!-- User Chat profile right area -->
            <!--/ User Chat profile right area -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>

  <!-- BEGIN: Footer-->
  <%- include('../common/footer') %>

  <script src="../../../app-assets/js/core/app-menu.js"></script>
  <script src="../../../app-assets/js/scripts/pages/app-chat.js"></script>

  <script>
    $(window).on('load', function() {
      if (feather) {
        feather.replace({
          width: 14,
          height: 14
        });
      }
    })
  </script>

  <script src="/js/socketChat.js"></script>
</body>
<!-- END: Body-->

</html>